Style2.css 
* { 

   margin: 0; 

    padding: 0v; 

   width: 100%; 

} 

 

header { 

   background: #ffffff; 

   padding: 2px 0; /* Adjusted padding */ 

    margin-bottom: 2px; /* Adjusted margin-bottom */ 

   margin: 0v; 

} 

 

main { 

   position: relative; 

   z-index: 1; /* Ensure the main content appears above the background */ 

} 

 

.main { 

   width: 100%; 

   background-position: center; 

   background-size:contain; 

   height: 0vh; 

   margin-top: 2%; 

} 

 

.navbar { 

   width: 1200px; 

   height: 5px; 

   margin: auto; 

} 

 

header img { 

   margin-top: 2px; 

   float: left; 

   width: 300px; 

   margin-left: 2%; 

} 

 

  .page-title { 

        font-size: 23px; 
 
        float: center;  

        margin-left: 32%; 

         margin-top: 1%; 

         color: rgb(21, 104, 21); 

         letter-spacing: 2px; 

        text-shadow: 0px 11px 10px rgba(81,67,21,0.8); 

         margin-bottom: 0%; 

         margin-right: 10px; 

         white-space: nowrap; 


} 

 

.menu { 

    width: 400px; 

    float: left; 

    height: 70px; 

    padding: 10pv; 

 

} 

 

ul { 

    float: left; 

    display: flex; 

    justify-content: center; 

    align-items: center; 

    margin-left: 98%; 


 

} 

 

ul li { 

    list-style: none; 

    margin-left: 80px; 

    margin-top: 27px; 

    font-size: large; 

    white-space: nowrap; 

    z-index: 5; 

} 

 

ul li a { 

    text-decoration: none; 

    color: #000000; 

    font-family: Andale Mono, monospace;  

    font-weight: lighter; 

    transition: 0.5s ease-in-out; 

    font-weight: bold; 

} 

 

.menu ul li a:hover { 

  

   color: green /* Adjust the text color on hover */ 

} 

 

.active { 

    color: rgb(211, 211, 94);  

    text-shadow: 1px 1px 1px rgb(0, 0, 0); 

    z-index: 5; 

} 

 
 

.imagecontainer{ 

    border: 40px; 

    width: 20px; /* Adjusted width */ 

    height: 20px; /* Adjusted height */ 

    z-index: 2; /* Ensure it appears above the background */ 

} 

 

.coc-image { 

    width: 20%; 

    height: 1%; 

    border: 40px; 

} 

 

.green-background { 

    background-color: green; 

    position: absolute; 

    top: 60%; /* Adjusted top position */ 

    bottom: 0; 

    left: 0; 

    margin-top:0%; 

    height: 60%; 

    width: 100%; 

    z-index: -5; 

} 

 

h2{ 

     margin-top:9%; 

     margin-bottom: 2%; 

     font-size: 50px; 

     font-weight: bold; 

     margin-left:24%; 

    text-align: left; 

} 

 

p{ 

     font-size: medium; 

     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  

        margin-top: 10pv; 

        margin-bottom: 7%; 

        margin-left: 5%; 

        width: 50%; 

        text-align: center; 

       float: left; 

       text-align: center;  

  } 

 

.comers-image { 

    padding: 10v; 

    margin-left: 5%; 

    margin-right:5%; 

    width: 50.3%; 

    height: 20%; 

    margin-bottom: 10px; 

    position:flex; 

    border: 1px solid #a1b1a3; 

 

  } 

 

.team-image { 

       padding: 10v; 

       margin-left: 5%; 

      margin-right: 3%; 

       margin-top:-1%; 

      width: 30%; 

      height: 140%; 

      margin-bottom: 10px; 

     float: right; 

     border: 6px solid #ffffff; 

    background-size: contain; 

 

  } 

 

   

#wrapper { 

     min-height: 15vh; 

      position: relative; 

      color: #000000; 

     background-color: rgba(0, 255, 0, 0.7); 

     text-align: center; 

     font-size: 15px; 

     padding-bottom: 0.5%; 

     font-weight: bold; 

     font-family: sans-serif; 

     z-index: 4; 

 

} 

 

 

 